#header ul li {
 
  text-align: center;
  width: 100px;
  margin: 10px;
  padding:5px;
  text-decoration:none;
  color:white;
  background-color:rgb(27,288,67);
  display:block;
  justify-content:space-between;
  font-size:30px;
  }

.container{
  background-image: url("https://www.safaricom.co.ke/Corporate-Image-homepage.jpg?Lo0P=713f351b2b478f0fe420a77c439f3973");
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

#left{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  font-size:30px;
}
#right{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  font-size:30px;
}